header {
  background: lightcoral;
  color: white;
  text-align: center;
  padding: 30px 0;
}
nav {
  margin-top: 10px;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f6f6f6;
  color: #333;
}
nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}
nav a.active,
nav a:hover {
  text-decoration: underline;
}
main {
  max-width: 900px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
iframe {
  width: 500px;
  height: 250px;
}
h2{
  color: lightcoral;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}
table, th, td {
  border: 1px solid #ccc;
}
th, td {
  padding: 10px;
  text-align: left;
}
img {
  margin: 10px;
  border-radius: 10px;
  width: 200px;
}
form {
  display: flex;
  flex-direction: column;
}
form input, form textarea {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
button {
  background: lightcoral;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background: coral;
}
footer {
  background: pink;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: 20px;
}
